%head
  = stylesheet_link_tag 'dashboard'
  = javascript_include_tag "dashboard/auto_refresh"
  = javascript_include_tag "dashboard/day_click"
  = javascript_include_tag "dashboard/cal_manip"
  
%body
  - @cc = Yahoo::Calendar.new
  - @cc.extract_data(params[:scroll_to])
  - @from_date, @to_date, @todays_sunday = @cc.get_date_range
  - prev_date = @from_date - 3.weeks
  - next_date = @to_date - 1.weeks + 1.day
  - @last_month = ''
  - @this_month = Date.today.month
  - @prev_month = @this_month - 1
  - @prev_month = 12 if @prev_month == 0
  - @next_month = @this_month + 1
  - @next_month = 1 if @next_month == 13
  %div{ class: 'toast hidden', id: 'toast' }
    this is the toast....  v3
  .page_header
    %button.time_scroller{ type: "button", onclick: "scroll_to(#{prev_date.strftime('%Y%m%d')})", title: "scroll back 3 weeks" }
      %img.time_scroller{ src: asset_path("left_arrow.ico"), alt: "Left" }
    %span.show_clickable{ onclick: "scroll_to(#{@todays_sunday.strftime('%Y%m%d')})", title: 'scroll to this week' }
      = Time.zone.now.strftime("%A, %B %d, %Y %H:%M")
    %button.time_scroller{ type: "button", onclick: "scroll_to(#{next_date.strftime('%Y%m%d')})", title: 'scroll forward 3 weeks' }
      %img.time_scroller{ src: asset_path("right_arrow.ico"), alt: "Right" }
    %img.refresh-icon{
      src: asset_path("refresh_arrows.ICO"),
      alt: "Refresh",
      onclick: "refreshClicked()"
    }
  .calendar_holder
    .calendar_today
      = render partial: 'weather_today', :locals => { city: 'Tel Aviv', second_city: false }
      = render partial: 'weather_today', :locals => { city: 'Canberra', second_city: true }
      - #= render partial: 'calendar_today'
    .calendar_month
      = render partial: 'calendar_month'
  .bottom_part
    .bottom_left
      - # = render partial: 'emails'
      = render partial: 'calendar_today'
    .bottom_right
      - # = render partial: 'news'
      = render partial: 'cal_manip'
  .footer