%head
  = stylesheet_link_tag 'dashboard'
  = javascript_include_tag "dashboard/auto_refresh"
  = javascript_include_tag "dashboard/day_click"
  = javascript_include_tag "dashboard/cal_manip"
  
%body
  - @cc = Yahoo::Calendar.new
  - @cc.extract_data
  - @from_date, @to_date = @cc.get_date_range
  - @last_month = ''
  - @this_month = Date.today.month
  - @prev_month = @this_month - 1
  - @prev_month = 12 if @prev_month == 0
  - @next_month = @this_month + 1
  - @next_month = 1 if @next_month == 13
  %div{ class: 'toast hidden', id: 'toast' }
    this is the toast....  v3
  .page_header
    = Time.zone.now.strftime("%A, %B %d, %Y %H:%M")
  .calendar_holder
    .calendar_today
      = render partial: 'weather_today', :locals => { city: 'Tel Aviv', second_city: false }
      = render partial: 'weather_today', :locals => { city: 'Canberra', second_city: true }
      - #= render partial: 'calendar_today'
    .calendar_month
      = render partial: 'calendar_month'
  .bottom_part
    .bottom_left
      - # = render partial: 'emails'
      = render partial: 'calendar_today'
    .bottom_right
      - # = render partial: 'news'
      = render partial: 'cal_manip'
  .footer