%head
  = stylesheet_link_tag 'dashboard'
  = stylesheet_link_tag 'clocks'
  = javascript_include_tag "dashboard/auto_refresh"
  = javascript_include_tag "dashboard/clocks"
  = javascript_include_tag "dashboard/day_click"
  = javascript_include_tag "dashboard/cal_manip"
  
%body
  .spinner{id: 'spinner'}
    %img{src: "#{asset_path('ajax-loader.gif')}"}
  - # TODO at some point move much of this logic to a helper and get rid of Yahoo::Calender or at least @cc >>>
  - # >>> @cc = Yahoo::Calendar.new
  - # >>> @cc.extract_data(params[:scroll_to])
  - # >>> @from_date, @to_date, @todays_sunday = @cc.get_date_range
  - prev_date = @from_date - 3.weeks
  - next_date = @to_date - 1.weeks + 1.day
  - @last_month = ''
  - @this_month = Date.today.month
  - @prev_month = @this_month - 1
  - @prev_month = 12 if @prev_month == 0
  - @next_month = @this_month + 1
  - @next_month = 1 if @next_month == 13
  - notice_exists = !params[:notice].blank?
  - toast_class = "toast " + (notice_exists ? "notice_level_#{params[:notice_level]}" : "hidden")
  %div{ class: toast_class, id: 'toast' }
    #{params[:notice]}
    - if notice_exists 
      .close_button_div
        %button{ type: "button", onclick: "closeToast()" }
          Close
  .page_header
    %button.time_scroller{ type: "button", onclick: "scroll_to(#{prev_date.strftime('%Y%m%d')})", title: "scroll back 3 weeks" }
      %img.time_scroller{ src: asset_path("left_arrow.ico"), alt: "Left" }
    %span.show_clickable{ onclick: "scroll_to(#{@todays_sunday.strftime('%Y%m%d')})", title: 'scroll to this week' }
      = Time.zone.now.strftime("%A, %B %d, %Y %H:%M")
    %button.time_scroller{ type: "button", onclick: "scroll_to(#{next_date.strftime('%Y%m%d')})", title: 'scroll forward 3 weeks' }
      %img.time_scroller{ src: asset_path("right_arrow.ico"), alt: "Right" }
    %img.refresh-icon{
      src: asset_path("refresh_arrows.ICO"),
      alt: "Refresh",
      onclick: "refreshClicked()"
    }
  .calendar_holder
    - calendar_month_class = is_mobile ? 'calendar_month_wide' : 'calendar_month'
    - if !is_mobile
      .calendar_today
        = render partial: 'weather_today', :locals => { city: 'Tel Aviv', second_city: false }
        = render partial: 'weather_today', :locals => { city: 'Canberra', second_city: true }
        = render partial: 'clocks'
        - #= render partial: 'calendar_today'
    %div{ class: calendar_month_class }
      = render partial: 'calendar_month', :locals => { boxes: boxes }
  .bottom_part
    - if !is_mobile
      .bottom_left
        - # = render partial: 'emails'
        = render partial: 'calendar_one_day', :locals => { day: Date.today, boxes: boxes }
    .bottom_right
      - # = render partial: 'news'
      = render partial: 'cal_manip'
  .footer