.alerts_section
  %table{border: 1}
    %thead
      %tr
        =col_header 'Type'
        =col_header 'Status'
        =col_header 'Change Status'
        =col_header 'Ignore Until'
        =col_header 'Created'
        =col_header 'Modified'
    %tbody
      -@share.alerts.order(id: :desc).each do |alert|
        -@toggle = !@toggle
        -@rowclass = (@toggle ? 'rowcol_1' : 'rowcol_2') + ' indexrow'
        -@rowclass = "#{@rowclass} alert_style_#{alert.alert_status.downcase}"
        %tr{class: @rowclass}
          %td
            #{alert.alert_type}
          %td{id: "old_status_#{alert.id}"}
            #{alert.alert_status}
          %td.datepicker_holder
            - unless alert.alert_status == "FINISHED"
              = select_tag "alert_status_#{alert.id}",
              options_for_select([["No Change", "NO_CHANGE"]] + ["REVIEWED", "IGNORE", "IGNORE_UNTIL"].map { |s| [s.split('_').map(&:capitalize).join, s] },
              selected: "NO_CHANGE"),
              class: "form-control", onchange: "changeAlertStatus(this)"
              -# = render :partial => 'shared/new_field', :locals => { field_name: "ignore_until_#{alert.id}", klass: 'datepicker'}
              %input{class: "datepicker hidden", type: "text", id: "ignore_until_#{alert.id}_field", name: "ignore_until_#{alert.id}"}
          %td{id: "old_ignore_until_#{alert.id}"}
            #{alert.ignore_until}
          %td
            #{alert.created_at.in_time_zone.strftime("%Y-%m-%d %H:%M:%S")}
          %td
            #{alert.updated_at.in_time_zone.strftime("%Y-%m-%d %H:%M:%S")}