%h5
  #{title}
%table{border: 1}
  %thead
    %tr
      =col_header 'Currency'
      =col_header 'Total'
      =col_header 'Total in NIS'
  %tbody
    - @toggle = true
    - tot_this_month_nis = 0
    - tot_by_cur.keys.sort.each do |curkey|
      -@toggle = !@toggle
      -@rowclass = (@toggle ? 'rowcol_1' : 'rowcol_2') + ' indexrow'
      -amount = tot_by_cur[curkey]
      %tr{class: @rowclass}
        %td
          #{curkey}
        %td.number
          #{format_number(amount, 2)}
        %td.number
          - nis_val = convert_to_nis(@rates, curkey, amount)
          - tot_this_month_nis = tot_this_month_nis + nis_val
          #{format_number(nis_val, 2)}
%p       
  #{total_title}: #{format_number(tot_this_month_nis, 2)}