.holdings_section
  .tools
    %button{onclick: "showHoldingInputForm()"}
      Add New Holding
  = render :partial => 'new_holding', :locals => { klass: 'Share', klass_id: @share.id }
  = render :partial => 'sell_holding', :locals => { klass: 'Share', klass_id: @share.id }
  %table{border: 1}
    %thead
      %tr
        =col_header 'Purchase Date'
        =col_header 'Quantity'
        =col_header 'Previously Sold'
        =col_header 'Purchase Price'
        =col_header 'Purchase Cost'
        =col_header 'Current Value'
        =col_header 'P/L'
        =col_header 'P/L %'
        =col_header 'Account'
        =col_header 'Actions'
    %tbody
      -@toggle = true
      - total_holding = 0
      - total_purchase_cost = 0
      - total_p_l = 0
      - total_current_value = 0
      - total_sold = 0
      -@share.holdings.each do |holding|
        -@toggle = !@toggle
        -@rowclass = (@toggle ? 'rowcol_1' : 'rowcol_2') + ' indexrow'
        - purchase_cost = (holding.cost || 0) * holding.amount
        - current_value = (share.current_price || 0) * holding.amount
        - p_l = current_value - purchase_cost
        - p_l_color = p_l < 0 ? 'p_l_red' : 'p_l_green'
        - total_holding = total_holding + holding.amount
        - total_purchase_cost = total_purchase_cost + purchase_cost
        - total_p_l = total_p_l + p_l
        - total_current_value = total_current_value + current_value
        - total_sold = total_sold + (holding.amount_sold || 0)
        %tr{class: @rowclass}
          %td
            - date_string = holding.purchase_date ? holding.purchase_date.strftime('%2d/%2m/%2y') : nil
            = render :partial => 'shared/field', :locals => { obj: holding, data: date_string, field_name: 'purchase_date', klass: 'datepicker' }
          %td.number
            = render :partial => 'shared/field', :locals => { obj: holding, data: holding.amount, field_name: 'amount' }
          %td.number
            #{format_number((holding.amount_sold || 0), 0)}
          %td.number
            = render :partial => 'shared/field', :locals => { obj: holding, data: holding.cost, field_name: 'cost' }
          %td.number
            #{format_number(purchase_cost, 2)}
          %td.number
            #{format_number(current_value, 2)}
          %td.number
            %span{class: p_l_color}
              #{format_number(p_l, 2)}
          %td.number
            %span{class: p_l_color}
              #{format_number((p_l* 100)/purchase_cost, 2)}
          %td
            = render :partial => 'shared/field', :locals => { obj: holding, data: holding.account, field_name: 'account' }
          %td.action_col
            = image_tag 'trash_can.png', size: 16, onclick: "deleteHolding(#{holding.id}, '#{holding.amount} in #{holding.account}')"
            = image_tag 'dollars.ico', size: 16, onclick: "sellHolding(#{holding.to_json.html_safe})" 
      - p_l_color = total_p_l < 0 ? 'p_l_red' : 'p_l_green'
      %tr.holding_total
        %td
          Total
        %td.number
          #{format_number(total_holding, 0)}
        %td.number
          #{format_number(total_sold, 0)}
        %td
        %td.number
          #{format_number(total_purchase_cost, 2)}
        %td.number
          #{format_number(total_current_value, 2)}
        %td.number
          %span{class: p_l_color}
            #{format_number(total_p_l, 2)}
        %td.number
          %span{class: p_l_color}
            #{format_number((total_p_l * 100)/ total_purchase_cost, 2)}
        %td.action_col
  %H3
    Summary by account
  %table{border: 1}
    %thead
      %tr
        =col_header 'Account'
        =col_header 'Quantity'
        =col_header 'Purchase Cost'
        =col_header 'Current Value'
        =col_header 'P/L'
        =col_header 'P/L %'
    %tbody
      -@toggle = true
      -@share.holdings_by_account.each do |ha|
        - puts '>>> ha  = ', ha
        - current_value = (share.current_price || 0) * ha[:amount]
        - p_l = current_value - ha[:purchase_cost]
        - p_l_color = p_l < 0 ? 'p_l_red' : 'p_l_green'
        -@toggle = !@toggle
        -@rowclass = (@toggle ? 'rowcol_1' : 'rowcol_2') + ' indexrow'
        %tr{class: @rowclass}
          %td
            #{ha[:account]}
          %td.number
            #{format_number(ha[:amount], 0)}
          %td.number
            #{format_number(ha[:purchase_cost], 0)}
          %td.number
            #{format_number(current_value, 2)}
          %td.number
            %span{class: p_l_color}
              #{format_number(p_l, 2)}
          %td.number
            %span{class: p_l_color}
              #{format_number((p_l * 100)/ ha[:purchase_cost], 2)}
  %H3
    Sales
- #   %table{border: 1}
- #     %thead
- #       %tr
- #         =col_header 'Sale Date'
- #         =col_header 'Quantity'
- #         =col_header 'Purchase Price'
- #         =col_header 'Sale Price'
- #         =col_header 'Sale Amount'
- #         =col_header 'P/L'
- #         =col_header 'P/L %'
- #         =col_header 'Tax - NIS'
- #         =col_header 'Service Fees - NIS'
- #         =col_header 'Service Fees - FC'
- #         =col_header 'Actions'
- #     %tbody
- #       -@toggle = true
