- bg_color = Current.holder&.colour
.tools{ style: ("background-color: #{bg_color};" if bg_color) }
  .env_line
    %span.env_text{style: "color: #{Rails.env == 'development' ? 'black' : 'red'}"}
      #{Rails.env}
  .tools_line
    = form_with url: shares_change_holder_path, method: :post, local: true, class: "holder_combo" do
      = label_tag :id, "Current Holder:"
      = select_tag :id,
        options_from_collection_for_select(Holder.order(:name), :id, :name, session[:holder_id]),
        prompt: "Current Holder",
        onchange: "this.form.submit();"
    %button{onclick: "getCurrentPrices()"}
      Get Current Prices
    %button{onclick: "showShareInputForm()"}
      Add new Share
    %button{onclick: "loadAllDividends()"}
      Load all dividends
  = render :partial => 'new_share'
  