.hidden.dataForm{id: 'new_holding'}
  %H3
    Add New Holding
  %form{name: "new_holding",  method: 'post', action: 'holdings'}
    %table
      = render :partial => 'shared/new_field', :locals => { field_name: 'amount', required: true }
      = render :partial => 'shared/new_field', :locals => { field_name: 'cost', required: true }
      = render :partial => 'shared/new_field', :locals => { field_name: 'account', required: true }
      = render :partial => 'shared/new_field', :locals => { field_name: 'purchase_date', klass: 'datepicker', required: true  }
      = render :partial => 'shared/hidden_field', :locals => { field_name: 'klass', field_value: klass }
      = render :partial => 'shared/hidden_field', :locals => { field_name: 'klass_id', field_value: klass_id }
    %button{type: 'button', onclick: 'makeInvisible("new_holding")'}
      Cancel
    %button{type: 'submit', name: 'submit'}
      Submit
      