.details
  %H1
    Details For: #{@share.name}
  %table{border: 0}
    %tr
      %td.vertical-align
        .tools
          %button{onclick: "clearDetails()"}
            Clear
          %button{onclick: "callYahooHistoricals(#{@share.id});"}
            Load Yahoo Dividends
        =get_links @share
        - @share.badges.each do |badge|
          .badge_holder
            = create_pill(badge)
      %td
        = render :partial => 'chart', :locals => { share: @share }
  = render :partial => 'dividends'    
  = render :partial => 'holdings'    