.details
  %H1
    Details For: #{@share.name}
  .details_buttons
    %button{onclick: "clearDetails()"}
      Clear
    %button{onclick: "callYahooHistoricals(#{@share.id});"}
      Load Yahoo Dividends
    %button{onclick: "callYahooSummary(#{@share.id});"}
      Load Yahoo Summary
    %button{onclick: "deleteShare(#{@share.id});"}
      Delete Share
    =get_links @share
  .details_pills
    - @share.badges.each do |badge|
      .badge_holder
        = create_pill(badge)
  .sector_industry
    %sp.sector_prompt
      Sector:
    = render :partial => 'shared/field', :locals => { obj: @share, data: @share.sector, field_name: 'sector', display_klass: 'non-table-input' }
    %sp.industry_prompt
      Industry:
    = render :partial => 'shared/field', :locals => { obj: @share, data: @share.industry, field_name: 'industry', display_klass: 'non-table-input' }
  .tab_container
    .tab_headings
      = inner_tab("Chart", "Chart")
      = inner_tab("Chart", "Dividends")
      = inner_tab("Chart", "Holdings")
      = inner_tab("Chart", "Summary")
      = inner_tab("Chart", "Notes")
    = inner_tab_data("Chart", "Chart", 'chart', { share: @share} )
    = inner_tab_data("Chart", "Dividends", 'dividends', { share: @share} )
    = inner_tab_data("Chart", "Holdings", 'holdings', { share: @share} )
    = inner_tab_data("Chart", "Summary", 'show_summary', { share: @share} )
    = inner_tab_data("Chart", "Notes", 'show_notes', { share: @share})