%tr
  %td.single_space_cell
    #{industry_name}
  %td.single_space_cell.not_first.number
    #{format_number(industry.get_currencies['AUD'], 2)}
  %td.single_space_cell.not_first.number
    #{format_number(industry.get_currencies['CAD'], 2)}
  %td.single_space_cell.not_first.number
    #{format_number(industry.get_currencies['GBP'], 2)}
  %td.single_space_cell.not_first.number
    #{format_number(industry.get_currencies['NIS'], 2)}
  %td.single_space_cell.not_first.number
    #{format_number(industry.get_currencies['USD'], 2)}
  %td.single_space_cell.not_first.number
    #{format_number(industry.get_currencies['TOT_NIS'], 2)}