- row_id = "#{sector_name}_#{industry_name}"
%tr{ class: ("include_in_pi" if (defined?(include_in_pi) && include_in_pi == true)) }
  %td.single_space_cell
    = image_tag 'arrow2_n.gif', size: 16, class: "hidden", onclick: "toggleHiddenRow(this, false, '#{row_id}')"
    = image_tag 'arrow2_s.gif', size: 16, onclick: "toggleHiddenRow(this, true, '#{row_id}')"
    #{industry_name}
  %td.single_space_cell.not_first.number
    #{format_number(industry.get_currencies['AUD'], 2)}
  - if Current.holder.multi_currency
    %td.single_space_cell.not_first.number
      #{format_number(industry.get_currencies['CAD'], 2)}
    %td.single_space_cell.not_first.number
      #{format_number(industry.get_currencies['NIS'], 2)}
    %td.single_space_cell.not_first.number
      #{format_number(industry.get_currencies['USD'], 2)}
    %td.single_space_cell.not_first.number
      #{format_number(industry.get_currencies['TOT_NIS'], 2)}
%tr.hidden{id: "#{row_id}"}
  %td
    %table
      -industry.get_shares.each do |share|
        %tr
          %td
            #{share.name}
          %td
            #{share.symbol}
          %td
            #{share.currency}
          %td.number
            - disp_val = Current.holder.multi_currency ? share.safe_tot_nis : industry.get_currencies['AUD']
            #{format_number(disp_val ,2)}
    