= render :partial => 'shared/header', :locals => { current: 'Shares' }
.invest_root
  %h1
    Shares
  = render :partial => 'index_header'
  = render :partial => 'new_share'
  = render :partial => 'index', :locals => { by_account: false }
  %h2
    Summary
  Total in nis: #{format_number(@total_total, 2)}
  Avg. Yield: #{format_number(@total_ytd/@rows_reported, 2)}
  Avg. Weighted Yield: #{format_number(@total_weighed/@rows_reported, 2)}
.details_location{id: 'details_location'}