.invest_root
  %h1
    Shares
  .tools
    %button{onclick: "getCurrentPrices()"}
      Get Current Prices
    %button{onclick: "showShareInputForm()"}
      Add new Share
  = render :partial => 'new_share'
  %table{border:0}
    %tr
      %td
        %table{border: 1}
          %thead
            %tr
              =col_header 'Name'
              =col_header 'Symbol'
              =col_header 'Israeli Number'
              =col_header 'Currency'
              =col_header 'Current Price'
              =col_header '#shares'
              =col_header 'Current Value'
          %tbody
            -@toggle = true
            -@shares.each do |share|
              -total_holdings = share.holdings.sum(:amount)
              -current_price = share.current_price
              -total_value = current_price ? total_holdings * current_price : nil
              -@toggle = !@toggle
              -@rowclass = (@toggle ? 'rowcol_1' : 'rowcol_2') + ' indexrow'
              %tr{class: @rowclass, onclick: "getDetails(this, #{share.id})"}
                %td
                  = render :partial => 'shared/field', :locals => { obj: share, data: share.name, field_name: 'name' }
                %td
                  = render :partial => 'shared/field', :locals => { obj: share, data: share.symbol, field_name: 'symbol' }
                %td.number
                  = render :partial => 'shared/field', :locals => { obj: share, data: share.israeli_number, field_name: 'israeli_number' }
                %td
                  = render :partial => 'shared/field', :locals => { obj: share, data: share.currency, field_name: 'currency' }
                %td.number
                  #{format_number(current_price, 2)}
                %td.number
                  #{format_number(total_holdings)}
                %td.number
                  #{format_number(total_value,2)}
      %td
        .details_location{id: 'details_location'}