.spinner{id: 'spinner'}
  %img{src: "#{asset_path('ajax-loader.gif')}"}
.header_bar
  = header_tab(current, 'Shares', 'shares')
  = header_tab(current, 'Shares By Account', 'shares_by_account')
  = header_tab(current, 'Projected Income', 'projected_income')
  = header_tab(current, 'Breakdown By Sector', 'breakdown_by_sector')
  = header_tab(current, 'Funds', 'funds')
  = header_tab(current, 'Exchange Rates', 'exchange_rates')
  = render :partial => 'shared/log_toast'