- if defined?(prompt) && prompt
  - cls =  defined?(klass) ? klass : ''
  - cls = "single_click_datefield_label #{cls}"
  %label{class: cls }
    #{prompt}:
%input{class: "", type: "text", id: "#{field_name}", name: "#{field_name}", onclick: "turnOnDateField(this.name)", value: "#{field_value}"}
.hidden{id: "#{field_name}_parent"}
  %input{class: "datepicker", type: "text", id: "#{field_name}_picker", name: "#{field_name}_picker"}