- if defined?(prompt) && prompt
  %label.single_click_datefield_label
    #{prompt}:
%input{class: "", type: "text", id: "#{field_name}", name: "#{field_name}", onclick: "turnOnDateField(this.name)", value: "#{field_value}"}
.hidden{id: "#{field_name}_parent"}
  %input{class: "datepicker", type: "text", id: "#{field_name}_picker", name: "#{field_name}_picker"}