.invest_root
  %h1
    Funds
  %table{border: 1}
    %thead
      %tr
        =col_header 'Name'
        =col_header 'Israeli Number'
        =col_header 'Currency'
        =col_header 'Current Price'
        =col_header '#shares'
    %tbody
      -@toggle = true
      -@funds.each do |fund|
        -@toggle = !@toggle
        -@rowclass = @toggle ? 'rowcol_1' : 'rowcol_2'
        %tr{class: @rowclass}
          %td
            #{fund.name}
          %td
            #{fund.israeli_number}
          %td
            #{fund.currency}
          %td
            #{fund.current_price}
          %td
            #{fund.holdings.sum(:amount)}