%span
  #{desc}
%img.filter{ src: "assets/#{image_name}", onclick: "makeVisible('badges_filter')"}
.filter_div.hidden{id: 'badges_filter'}
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_really_good_price', checked: true }
    %label.vertical_checkbox{for: 'filter_really_good_price'}
      = create_pill(:really_good_price)
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_good_price', checked: true }
    %label.vertical_checkbox{for: 'filter_good_price'}
      = create_pill(:good_price)
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_big_investment', checked: true }
    %label.vertical_checkbox{for: 'filter_big_investment'}
      = create_pill(:big_investment)
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_under_performer', checked: true }
    %label.vertical_checkbox{for: 'filter_under_performer'}
      = create_pill(:under_performer)
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_div_overdue', checked: true }
    %label.vertical_checkbox{for: 'filter_div_overdue'}
      = create_pill(:div_overdue)
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_no_div_last_year', checked: true }
    %label.vertical_checkbox{for: 'filter_no_div_last_year'}
      = create_pill(:no_div_last_year)
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_comments', checked: true }
    %label.vertical_checkbox{for: 'filter_comments'}
      = create_pill(:comments)
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_div_up_25', checked: true }
    %label.vertical_checkbox{for: 'filter_comments'}
      = create_pill(:div_up_25)
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_div_up', checked: true }
    %label.vertical_checkbox{for: 'filter_comments'}
      = create_pill(:div_up)
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_div_down_25', checked: true }
    %label.vertical_checkbox{for: 'filter_comments'}
      = create_pill(:div_down_25)
  .checkbox_section
    %input.vertical_checkbox{type: 'checkbox', id: 'filter_div_down', checked: true }
    %label.vertical_checkbox{for: 'filter_comments'}
      = create_pill(:div_down)
  %button.filter{onclick: 'apply_filter()'}
    Apply