%span
  #{desc}
- order_direction = needs_descending_button(col_order_by) ? 'DESC' : 'ASC'
%img{ class: "#{arrow_image_classes(col_order_by)}", src: "assets/#{image_name}", onclick: "window.location.href=window.location.pathname + '?order_by=#{col_order_by}&order_direction=#{order_direction}'"}