<!DOCTYPE html>
<html>
  <head>
    <title>InvestServer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <%= favicon_link_tag asset_path('yl_u_arr.gif') %>
    <%= javascript_include_tag "controllers/shares" %>
    <%= javascript_include_tag "controllers/exchange_rates" %>
    <%= javascript_include_tag "pack/field_utils" %>
    <%= javascript_include_tag "pack/DatePickerX" %>
    <%= javascript_include_tag "https://s3.tradingview.com/tv.js" %>
    <%= javascript_include_tag "pack/launchChart" %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
